<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&family=Shrikhand&display=swap" rel="stylesheet">
    <title>A la française</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" type="image/x-icon" href="favicon.ico">


    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-RV07N8F5LG"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-RV07N8F5LG');
    </script>

</head>

<body>
    <header class="enteterestos">
        <nav class="flecheentete">
            <a href="../index.html">
                <p><i class="fa-solid fa-arrow-left"></i></p>
            </a>          
        </nav>
        <div class="texteentete">
            <h1>ohmyfood</h1>
        </div>
    </header>

    <main>
        <section class="principale">
            <div id="phototitrealafrancaise">
                <div id="photocartealafrancaise">
                    <div class="bordurecarte"></div>
                </div>
            </div>
            <div class="menu">
                <div class="titrecartecoeur">
                    <div class="titrecarte">
                        <h2>A la française</h2>
                    </div>
                    <div class="coeur">
                        <p><i class="fa fa-heart-o" aria-hidden="true"></i></p>
                    </div>
                </div>

                <div class="natureplat">
                    <p>ENTREES</p>
                </div>
                    <div class="soulignement">
                    </div>
                    <div class="entrees">
                        <div class="espacep"></div>
                        <div class="boutonplat">
                            <div class="recetteaccompagnement">
                                <h3>Tartare de poulpe acidulé</h3>
                                <p>Aux zests d'orange</p>
                            </div>
                            <div class="prix">
                                <p>25€</p>
                            </div>
                            <div class="boutonplat-coche">
                                <div class="cercle">
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>

                        <div class="espacep"></div>
                        <div class="boutonplat">
                            <div class="recetteaccompagnement">
                                <h3>Velouté de légumes d'antan</h3>
                                <p>Carotte, panais, topinambour</p>
                            </div>
                            <div class="prix">
                                <p>35€</p>
                            </div>
                            <div class="boutonplat-coche">
                                <div class="cercle">
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>

                        <div class="espacep"></div>
                        <div class="boutonplat">
                            <div class="recetteaccompagnement">
                                <h3>Soupe à l'oignon</h3>
                                <p>Revisitée</p>
                            </div>
                            <div class="prix">
                                <p>20€</p>
                            </div>
                            <div class="boutonplat-coche">
                                <div class="cercle">
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                <div class="espace">
                </div>


                <div class="natureplat">
                    <p>PLATS</p>
                </div>
                <div class="soulignement">
                </div>
                <div class="plats">
                    <div class="espacep"></div>
                    <div class="boutonplat">
                        <div class="recetteaccompagnement">
                            <h3>Coquilles Saint-Jacques</h3>
                            <p>Accompagnées d'une purée de panais</p>
                        </div>
                        <div class="prix">
                            <p>40€</p>
                        </div>
                        <div class="boutonplat-coche">
                            <div class="cercle">
                                <i class="fa fa-check" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>

                    <div class="espacep"></div>
                    <div class="boutonplat">
                        <div class="recetteaccompagnement">
                            <h3>Magret de canard</h3>
                            <p>Et parmentier de pommes de terre</p>
                        </div>
                        <div class="prix">
                            <p>35€</p>
                        </div>
                        <div class="boutonplat-coche">
                            <div class="cercle">
                                <i class="fa fa-check" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>

                    <div class="espacep"></div>
                    <div class="boutonplat">
                        <div class="recetteaccompagnement">
                            <h3>Pigeonneau d'Ille-et-Vilaine</h3>
                            <p>Sur son lit de gnocchis aux légumes</p>
                        </div>
                        <div class="prix">
                            <p>44€</p>
                        </div>
                        <div class="boutonplat-coche">
                            <div class="cercle">
                                <i class="fa fa-check" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>    

                <div class="espace">
                </div>

                <div class="natureplat">
                    <p>DESSERTS</p>
                </div>
                <div class="soulignement">
                </div>
                <div class="desserts">
                    <div class="espacep"></div>
                    <div class="boutonplat">
                        <div class="recetteaccompagnement">
                            <h3>Pétales de violettes glacés</h3>
                            <p>Et purée de noisettes</p>
                        </div>
                        <div class="prix">
                            <p>18€</p>
                        </div>
                        <div class="boutonplat-coche">
                            <div class="cercle">
                                <i class="fa fa-check" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>

                    <div class="espacep"></div>
                    <div class="boutonplat">
                        <div class="recetteaccompagnement">
                            <h3>Fondant au chocolat</h3>
                            <p>Revisité</p>
                        </div>
                        <div class="prix">
                            <p>22€</p>
                        </div>
                        <div class="boutonplat-coche">
                            <div class="cercle">
                                <i class="fa fa-check" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>

                    <div class="espacep"></div>
                    <div class="boutonplat">
                        <div class="recetteaccompagnement">
                            <h3>Millefeuille croustillant</h3>
                            <p>Myrtilles et pâte d'amande</p>
                        </div>
                        <div class="prix">
                            <p>23€</p>
                        </div>
                        <div class="boutonplat-coche">
                            <div class="cercle">
                                <i class="fa fa-check" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>        

                <a href="#">
                    <div class="commander">
                        <p>Commander</p>
                    </div>
                </a>

            </div>
        </section>
    </main>

    <footer id="ohmyfood">
        <div id="logoohmyfood">
            <h4>ohmyfood</h4>
        </div>    
        <div id="liste">
            <div class="logodescription">
                <div class="logo">
                    <i class="fas fa-utensils"></i>
                </div>
                <div class="description">
                    <a href="#">  Proposer un restaurant</a>
                </div>
            </div>
            <div class="logodescription">
                <div class="logo">
                    <i class="fa-solid fa-handshake-angle"></i>
                </div>
                <div class="description">
                    <a href="#">  Devenir partenaire</a>
                </div>
            </div>
            <div class="descriptionfooter">
                <a href="#">Mentions légales</a>
            </div>
            <div class="descriptionfooter">
                <a href="mailto:prenom.nom@test.com">Contact</a>
            </div>
        </div>
    </footer>
</body>
</html>