/* Footer */

#ohmyfood
{
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 10%;
    background-color: #34353A;
}

.logodescription {
    display: flex;
    flex-direction: row;
}

.logo {
    width: 8%;
    align-items: center;
}